<html>
<head>
  <title>Android Pay for the Web Demo</title>

  <!-- (Optional) Disable the favicon.ico requests -->
  <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">

  <!-- Import External Dependencies -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://storage.googleapis.com/prshim/v1/payment-shim.js"></script>

  <!-- Android Pay Event Handlers and Setup Script -->
  <script>
  $(document).ready(function () {
    $('#android-pay-button').on('click', function () {
      processAndroidPayCharge();
    });
  });
  </script>

  <script>
    function processAndroidPayCharge() {
      var methodData = [
        {
          supportedMethods: ['https://android.com/pay'],
          data: {
            //merchant ID obtained from Google that maps to your origin
            merchantId: '{{ GOOGLE_MERCHANT_ID }}',
            environment: 'TEST',
            // Credit Cards allowed via Android Pay
            allowedCardNetworks: ['AMEX', 'MASTERCARD', 'VISA', 'DISCOVER'],
            paymentMethodTokenizationParameters: {
              tokenizationType: 'GATEWAY_TOKEN',
              parameters: {
                'gateway': 'stripe',
                // Place your own Stripe publishable key here.
                'stripe:publishableKey': '{{ STRIPE_PUBLISHABLE_KEY }}',
                'stripe:version': '2016-07-06'
              }
            }
          }
        }
      ];

      var details = {
        displayItems: [{
          label: 'Original donation amount',
          amount: { currency: 'USD', value: '2.00' }
        }, {
          label: 'Friends and family discount',
          amount: { currency: 'USD', value: '-1.00' }
        }],
        total: {
          label: 'Total due',
          amount: { currency: 'USD', value : '1.00' }
        }
      };

      var options = {
        //requestShipping: true,
        //requestPayerEmail: true,
        //requestPayerPhone: true,
        requestPayerName: true
      };

      var paymentRequest = new PaymentRequest(
        methodData, // required payment method data
        details,    // required information about transaction
        options     // optional parameter for things like shipping, etc.
      );

      paymentRequest.show().then(function(tokenResponse) {
        $("#tokenResponse").text(JSON.stringify(tokenResponse, null, '\t'));
        createCharge(
          tokenResponse.details.paymentMethodToken,
          details.total.amount.value,
          function (chargeResult) {
            console.log('chargeResult');
            console.log(chargeResult);
            if (chargeResult) {
              tokenResponse.complete('success');
            } else {
              tokenResponse.complete('fail');
            }
          }
        );
      })
      .catch(function (e) {
        console.log(e);
      });
    }

    function createCharge(token, amount, complete) {

      /*
      This section of code communicates with the backend endpoint that was
      built at `/charge`.  It submits a request containing the token id and
      the amount to be charged, then expects either a 200 or > 400 response.
      */

      /*
      NOTE: Passing the amount to the /charge endpoint is somewhat insecure for
      products that have a static price.  This model is really only appropriate
      for donation pages.
      */

      // Process charge in backend
      $.post("/charge", {
        "token": token,
        "amount": amount
      })
      .success(function(chargeResponse) {

        // Successfully processed transaction
        console.log("Successfully created Charge in Stripe.");
        $("#chargeResponse").text(JSON.stringify(chargeResponse, null, '\t'));
        complete(true);

      })
      .fail(function () {

        // Failure to create charge
        console.log("Unable to create Charge in Stripe.");
        complete(false);

      });

    }

  </script>

</head>
<body>
  <button id="android-pay-button">Android Pay</button><br /><br />

  Token Response:<br />
  <pre id="tokenResponse"></pre><br /><br/>

  Charge Response:<br />
  <pre id="chargeResponse"></pre><br />
</body>
</html>
